extends layout

block content
  h1 你好，#{user}
  p Welcome to your home
  p
    a(href="/logout") 我要注销

  p 
    a(href="/chat001") 加入聊天室1

  p 
    a(href="/chat002") 加入聊天室2


block script
  //script(src="/javascripts/home.js")
