<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/style.css"></link>
    </head>
    <body>
        <nav>
            <div class="container">
                <div class="navbar-header">
                    <a><img src=""></a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
    </body>
    <script src="/javascripts/plugin/jquery-2.1.4.js"></script>
    {% block script %}{% endblock %}
</html>
