<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/style.css"></link>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
    <script src="/javascripts/plugin/jquery-2.1.4.js"></script>
    {% block script %}{% endblock %}
</html>
<!--
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

#script(src="/javascripts/plugin/jquery-2.1.4.js")
script(src="https://code.jquery.com/jquery-2.1.4.min.js")

block script -->
