{% extends 'layout.html' %}

{% block content %}
    <style>
    .login-title{
      margin-left:20px;
    }
    .login-rows{
      margin: 10px 0;
    }
    .login-rows-name{
      float: left;
      width: 80px;
      text-align: center;
    }
    .login-btn{
      display: inline-block;
      margin-left: 50px;
      width: 150px;
      height: 35px;
      line-height: 35px;
      background-color: #E42D2D;
      text-align: center;
      color: #fff;
      cursor: pointer;
      border-radius: 5px;
    }
    </style>
    <ul>
        {% for path in paths %}
            <li><a>{{ path }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
{% endblock %}
